<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the GDP Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and add the dataset

In [1]:
#Import required library
import numpy as np

In [2]:
#Manually add the dataset
countries = np.array(['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia',
                      'Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal',
                      'New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'])
GDP = np.array([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,
                2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,
                7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,
                229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,
                394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,
                18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605])

#### 2: Find and print the name of the country with the highest GDP

In [3]:
#Use the argmax() method to find the highest GDP
GDP.argmax()

45

In [4]:
#Print the name of the country
countries[45]

'Norway'

#### 3: Find and print the name of the country with the lowest GDP

In [5]:
#Use the argmin() method to find the lowest GDP
GDP.argmin()

21

In [6]:
#Print the name of the country
countries[21]

'Ethiopia'

#### 4: Print out text ('evaluating country') and input value ('country name') iteratively

In [7]:
#Use a for loop to print the required output
for i, v in enumerate(countries):
    print('evaluating country', v)

evaluating country Algeria
evaluating country Angola
evaluating country Argentina
evaluating country Australia
evaluating country Austria
evaluating country Bahamas
evaluating country Bangladesh
evaluating country Belarus
evaluating country Belgium
evaluating country Bhutan
evaluating country Brazil
evaluating country Bulgaria
evaluating country Cambodia
evaluating country Cameroon
evaluating country Chile
evaluating country China
evaluating country Colombia
evaluating country Cyprus
evaluating country Denmark
evaluating country El Salvador
evaluating country Estonia
evaluating country Ethiopia
evaluating country Fiji
evaluating country Finland
evaluating country France
evaluating country Georgia
evaluating country Ghana
evaluating country Grenada
evaluating country Guinea
evaluating country Haiti
evaluating country Honduras
evaluating country Hungary
evaluating country India
evaluating country Indonesia
evaluating country Ireland
evaluating country Italy
evaluating country Japan
evaluating country Kenya
evaluating country South Korea
evaluating country Liberia
evaluating country Malaysia
evaluating country Mexico
evaluating country Morocco
evaluating country Nepal
evaluating country New Zealand
evaluating country Norway
evaluating country Pakistan
evaluating country Peru
evaluating country Qatar
evaluating country Russia
evaluating country Singapore
evaluating country South Africa
evaluating country Spain
evaluating country Sweden
evaluating country Switzerland
evaluating country Thailand
evaluating country United Arab Emirates
evaluating country United Kingdom
evaluating country United States
evaluating country Uruguay
evaluating country Venezuela
evaluating country Vietnam
evaluating country Zimbabwe

#### 5: Print out the entire list of the countries with their GDPs

In [9]:
#Use a for loop to print the required list
for i, v in enumerate(countries):
    print('Countries: ', v, '\t GDP: ', GDP[i])

Countries:  Algeria 	 GDP:  2255.225482
Countries:  Angola 	 GDP:  629.9553062
Countries:  Argentina 	 GDP:  11601.63022
Countries:  Australia 	 GDP:  25306.82494
Countries:  Austria 	 GDP:  27266.40335
Countries:  Bahamas 	 GDP:  19466.99052
Countries:  Bangladesh 	 GDP:  588.3691778
Countries:  Belarus 	 GDP:  2890.345675
Countries:  Belgium 	 GDP:  24733.62696
Countries:  Bhutan 	 GDP:  1445.760002
Countries:  Brazil 	 GDP:  4803.398244
Countries:  Bulgaria 	 GDP:  2618.876037
Countries:  Cambodia 	 GDP:  590.4521124
Countries:  Cameroon 	 GDP:  665.7982328
Countries:  Chile 	 GDP:  7122.938458
Countries:  China 	 GDP:  2639.54156
Countries:  Colombia 	 GDP:  3362.4656
Countries:  Cyprus 	 GDP:  15378.16704
Countries:  Denmark 	 GDP:  30860.12808
Countries:  El Salvador 	 GDP:  2579.115607
Countries:  Estonia 	 GDP:  6525.541272
Countries:  Ethiopia 	 GDP:  229.6769525
Countries:  Fiji 	 GDP:  2242.689259
Countries:  Finland 	 GDP:  27570.4852
Countries:  France 	 GDP:  23016.84778
Countries:  Georgia 	 GDP:  1334.646773
Countries:  Ghana 	 GDP:  402.6953275
Countries:  Grenada 	 GDP:  6047.200797
Countries:  Guinea 	 GDP:  394.1156638
Countries:  Haiti 	 GDP:  385.5793827
Countries:  Honduras 	 GDP:  1414.072488
Countries:  Hungary 	 GDP:  5745.981529
Countries:  India 	 GDP:  837.7464011
Countries:  Indonesia 	 GDP:  1206.991065
Countries:  Ireland 	 GDP:  27715.52837
Countries:  Italy 	 GDP:  18937.24998
Countries:  Japan 	 GDP:  39578.07441
Countries:  Kenya 	 GDP:  478.2194906
Countries:  South Korea 	 GDP:  16684.21278
Countries:  Liberia 	 GDP:  279.2204061
Countries:  Malaysia 	 GDP:  5345.213415
Countries:  Mexico 	 GDP:  6288.25324
Countries:  Morocco 	 GDP:  1908.304416
Countries:  Nepal 	 GDP:  274.8728621
Countries:  New Zealand 	 GDP:  14646.42094
Countries:  Norway 	 GDP:  40034.85063
Countries:  Pakistan 	 GDP:  672.1547506
Countries:  Peru 	 GDP:  3359.517402
Countries:  Qatar 	 GDP:  36152.66676
Countries:  Russia 	 GDP:  3054.727742
Countries:  Singapore 	 GDP:  33529.83052
Countries:  South Africa 	 GDP:  3825.093781
Countries:  Spain 	 GDP:  15428.32098
Countries:  Sweden 	 GDP:  33630.24604
Countries:  Switzerland 	 GDP:  39170.41371
Countries:  Thailand 	 GDP:  2699.123242
Countries:  United Arab Emirates 	 GDP:  21058.43643
Countries:  United Kingdom 	 GDP:  28272.40661
Countries:  United States 	 GDP:  37691.02733
Countries:  Uruguay 	 GDP:  9581.05659
Countries:  Venezuela 	 GDP:  5671.912202
Countries:  Vietnam 	 GDP:  757.4009286
Countries:  Zimbabwe 	 GDP:  347.7456605

#### 6: Print the following:
1. Highest GPD value
2. Lowest GDP value
3. Mean GDP value
4. Standardized GDP value
5. Sum of all the GDPs

In [10]:
print('Highest GDP: ', GDP.max())
print('Lowest GDP: ', GDP.min())
print('Mean GDP: ', GDP.mean())
print('Standardized  GDP: ', (GDP-GDP.mean())/GDP.std())
print('Sum GDP: ', GDP.sum())

Highest GDP:  40034.85063
Lowest GDP:  229.6769525
Mean GDP:  11289.409271639683
Standardized  GDP:  [-0.70890655 -0.83644045  0.02449978  1.09993753  1.25370438  0.6416895
 -0.83970368 -0.65906908  1.05495905 -0.77242478 -0.50895308 -0.68037113
 -0.83954024 -0.83362788 -0.32694027 -0.67874952 -0.62202214  0.32084217
  1.53570163 -0.6834911  -0.37381764 -0.86785003 -0.70989026  1.27756548
  0.9202445  -0.78114377 -0.85427339 -0.4113527  -0.85494663 -0.85561647
 -0.77491128 -0.43498918 -0.82013522 -0.79116083  1.28894693  0.60012111
  2.21979323 -0.84834706  0.42332674 -0.86396239 -0.4664372  -0.39243747
 -0.73612922 -0.86430354  0.26342253  2.25563616 -0.83312909 -0.62225348
  1.95100371 -0.64617013  1.74519145 -0.58572     0.32477772  1.75307099
  2.18780436 -0.67407418  0.76656923  1.3326448   2.07171787 -0.13405333
 -0.44080136 -0.82643987 -0.85858526]
Sum GDP:  711232.7841133

In [11]:
np.transpose(np.array([1,2]))

array([1, 2])

In [18]:
np.array([1,2]).reshape(1,2).T

array([[1, 2]])